@model IEnumerable<Yourlake_Azure.Models.Donnee>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Retour", "Index", "Home")
</p>
<table class="table">
    <tr>
        <th>
            Region
        </th>
        <th>
            Température extérieur
        </th>
        <th>
            Débit de l'eau L/H
        </th>
        <th>
            Temperature de l'eau
        </th>
        <th>
            Humidité extérieur
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Region.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Temperature)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Debit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Humidite_eau)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Humidite)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.DonneeId })
            </td>
        </tr>
    }

</table>